.breadcrumbs {
    margin-left: 23px;
}

.breadcrumbs__item {
    vertical-align: middle;
    display: inline-flex;
}

.breadcrumbs__item:after {
    content: "/";
    display: inline-flex;
    vertical-align: middle;
    margin-left: 4px;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__comments-main {
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
    font-family: "OpenSansLight";
    color: rgba(248, 149, 19, 0.8);
    font-style: italic;
    text-decoration: underline;
}

.breadcrumbs__comments-rewiews {
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
    font-family: "OpenSansLight";
    font-style: italic;
    color: black;
}

.breadcrumbs__services-main {
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
    font-family: "OpenSansLight";
    color: rgba(248, 149, 19, 0.8);
    font-style: italic;
    text-decoration: underline;
}

.breadcrumbs__services-rewiews {
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
    font-family: "OpenSansLight";
    font-style: italic;
    color: black;
}