.company-contacts__phone a {
    font-size: 21px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.company-contacts__scheldule {
    text-align: right;
    text-decoration: underline;
    position: relative;
}

.company-contacts__scheldule:before {
    content: '';
    display: block;
    height: 35px;
    top: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.company-contacts__scheldule-text {
    text-decoration: underline;
    color: rgba(248, 149, 19, 0.702);
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
}

.company-contacts__scheldule>p:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.702);
}

.popup {
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    width: 162px;
    height: 70px;
    border-radius: 3px;
    background: #ffffff;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
    left: -9999px;
    opacity: 0;
    transition: 0.5s;
}

.company-contacts__scheldule:hover .popup {
    opacity: 1;
    left: initial;
}

.company-contacts__scheldule:hover::after {
    content: '';
    display: block;
    height: 22px;
    width: 100%;
    position: absolute;
}

.popup::after {
    content: '';
    position: absolute;
    right: 1px;
    top: -21px;
    border: 11px solid transparent;
    border-bottom: 11px solid white;
}

.popup__content {
    padding-top: 14px;
    padding-left: 2px;
    text-align: left;
}

.popup__worktime {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(248, 149, 19);
    font-weight: bold;
}

.popup__dinner {
    font-size: 14px;
    font-family: "Open Sans";
    color: black;
}