.company-contacts__phone a {
  font-size: rem(21px);
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;

}

.company-contacts__scheldule {
  text-align: right;
  text-decoration: underline;
  position: relative;
}

.company-contacts__scheldule:before {
  content: '';
  display: block;
  height: rem(35px);
  top: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
.company-contacts__scheldule-text {
  text-decoration: underline;
  color: rgba(248, 149, 19, 0.702);
  font-family: "Open Sans";
  font-weight: bold;
  font-size: rem(14px);
}

.company-contacts__scheldule>p:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.702);


}

.popup {
  position: absolute;
  margin-top: rem(25px);
  margin-left: rem(20px);
  width: rem(162px);
  height: rem(70px);
  border-radius: rem(3px);
  background: #ffffff;
  margin-right: rem(20px);
  display: flex;
  justify-content: center;
  box-shadow: 2.rem(5px) 4.rem(3px) rem(5px) 0 rgba(0, 0, 0, 0.2);
  left: -rem(9999px);
  opacity: 0;
  transition: 0.5s;
}

.company-contacts__scheldule:hover .popup {
  opacity: 1;
  left: initial;
}

.company-contacts__scheldule:hover::after {
  content: '';
  display: block;
  height: rem(22px);
  width: 100%;
  position: absolute;
}

.popup::after {
  content: '';
  position: absolute;
  right: rem(1px);
  top: -rem(21px);
  border: rem(11px) solid transparent;
  border-bottom: rem(11px) solid white;
}

.popup__content {
  padding-top: rem(14px);
  padding-left: rem(2px);
  text-align: left;
}

.popup__worktime {
  font-size: rem(14px);
  font-family: "Open Sans";
  color: rgb(248, 149, 19);
  font-weight: bold;
}

.popup__dinner {
  font-size: rem(14px);
  font-family: "Open Sans";
  color: black;
}
