.features {
    border: 1px solid black;
    display: inline-flex;
    width: 276px;
    height: 286px;
    justify-content: center;
    align-items: center;
    margin-bottom: 61px;
}

.features__list {
    display: flex;
    justify-content: center;
}

.features__content {
    display: inline-flex;
    width: 230px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
}

.features__subtitle {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(34, 31, 31);
    text-transform: uppercase;
    text-align: center;
}

.features__text {
    font-size: 20px;
    font-family: "Open Sans";
    color: black;
    line-height: 1.667;
    text-align: center;
    -moz-transform: matrix(0.89709304898013, 0, 0, 0.89821428571429, 0, 0);
    -webkit-transform: matrix(0.89709304898013, 0, 0, 0.89821428571429, 0, 0);
    -ms-transform: matrix(0.89709304898013, 0, 0, 0.89821428571429, 0, 0);
}

.features__sublist-item {
    position: relative;
    padding: 0 0 0 20px;
    font-size: 20px;
    font-family: "Open Sans";
    color: black;
    line-height: 1.667;
    text-align: left;
    -moz-transform: matrix(0.89709304898013, 0, 0, 0.89821428571429, 0, 0);
    -webkit-transform: matrix(0.89709304898013, 0, 0, 0.89821428571429, 0, 0);
    -ms-transform: matrix(0.89709304898013, 0, 0, 0.89821428571429, 0, 0);
    list-style-type: disc;
}

.features__sublist-item::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.banner-content {
    margin-left: 25px;
}

.features__title {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(34, 31, 31);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}