.header {
    position: relative;
    background-color: black;
}

.header-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.logo {
    color: orange;
}

.nav {
    display: flex;
}

.nav__item {
    margin: 0 10px 0 0;
}

.nav__link:hover .nav__title {
    color: orange;
}