.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.pagination__controls {
    display: flex;
}

.pagination__pages {
    display: flex;
}

.pagination__display {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(101, 100, 100);
    line-height: 1.5;
    text-align: left;
    -moz-transform: matrix(1.00122601572696, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1.00122601572696, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1.00122601572696, 0, 0, 1, 0, 0);
}

.pagination__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto";
    color: black;
    font-weight: bold;
    -moz-transform: matrix(1.00122601572696, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1.00122601572696, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1.00122601572696, 0, 0, 1, 0, 0);
    width: 25px;
    height: 24px;
}

.pagination__prev {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    opacity: 0.3;
    padding-left: 10px;
    padding-right: 17px;
}

.pagination__next {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    padding-left: 17px;
}

.pagination__link-active {
    border-radius: 3px;
    background-color: rgb(39, 39, 62);
    color: white;
    width: 25px;
    height: 25px;
}

.pagination__link:hover {
    color: rgb(248, 149, 19);
}