.services {
  height: 170px;
  background-image: url('/img/background.png');
  margin-bottom: 60px;
  width: 100%;
  margin-top: 60px;
}

.services__text {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  height: 107px;
  width: 680px;
  padding-top: 29px;
 
}
.services__text-content {
  box-sizing: border-box;
 
  
}
.input__text {
  border: solid 1px orange;
  padding: 5px 10px;
}
.application {
  color: rgb(248, 149, 19);
}
