.right-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 45px;
}

.start-page {
    display: flex;
}

.left-content {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.services__title-services {
    font-size: 49px;
    font-family: "Open Sans";
    color: rgb(34, 31, 31);
    font-weight: bold;
    text-transform: uppercase;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.subtitle {
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 13px;
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
}

.services__item {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 415px;
    margin-right: 60px;
    margin-bottom: 60px;
}

.services__image {
    width: 250px;
    height: 154px;
}

.services__desc {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(34, 31, 31);
    font-weight: bold;
    width: 265px;
    letter-spacing: -0.9px;
    line-height: 21.02px;
}

.services {
    margin-left: 23px;
    margin-bottom: 55px;
}

.services__blocks {
    margin-bottom: 30px;
}