@font-face {
  font-family: 'gora_free';
  src: url('/folder/fonts/gora-free-webfont.woff2') format('woff2'),
    url('/folder/fonts/gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: GothamPro;
  src: url("/fonts/GothamPro.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: GothamPro;
  src: url("/fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
