@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,500,700");
@font-face {
  font-family: 'gagalinregular';
  src: url("../../fonts/9903-webfont.woff2") format("woff2"), url("../../fonts/9903-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack_medium';
  src: url("../../fonts/deartype_-_lifehack_medium-webfont.woff2") format("woff2"), url("../../fonts/deartype_-_lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
