.map {
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    background-image: url('../../img/footer_bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include phones {
            flex-direction: column;
            text-align: center;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: rem(14px);
        font-family: "Ubuntu";
        color: rgb(255, 255, 255);
        padding-top: rem(10px);
        padding-bottom: rem(10px);
        @include phones {
            padding-top: rem(15px);
            padding-bottom: rem(15px);
        }
    }
    &__contacts-adress {
        margin-bottom: rem(10px);
    }
    &__contacts-phone {
        color: #e45028;
        font-weight: bold;
    }
    &__contacts-icon {
        margin-left: rem(7px);
        width: rem(11px);
        height: rem(11px);
    }
    &__social {
        display: flex;
        @include phones {
            padding-bottom: rem(20px);
        }
    }
    &__social-icon {
        margin-right: rem(15px);
        width: rem(20px);
        height: rem(20px);
        fill: #595959;
    }
    &__social-icon:hover {
        fill: #fff;
        cursor: pointer;
    }
}

#map {
    width: 600px;
    height: 400px;
}