.menu {
    width: 100%;
    background-image: url("../../img/menu/bg_menu.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    &__title {
        position: absolute;
        top: rem(110px);
        color: rgb(255, 255, 255);
        line-height: 1;
    }
    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
    &__list {
        height: 100%;
        display: flex;
    }
    &__item {
        height: 100%;
        display: flex;
    }
    &__subtitle {
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 100%;
        background-size: cover;
        background-position: center center;
        width: rem(80px);
        position: relative;
        &-link {
            padding-top: rem(40px);
            writing-mode: tb-rl;
            font-size: rem(40px);
            font-family: "gagalinregular";
            color: rgb(255, 255, 255);
            line-height: 1;
            transform: rotate(180deg);
            white-space: nowrap;
        }
    }
    &__item-block {
        display: none;
        width: 45vw;
        background-color: rgba(61, 62, 63, .8);
        color: #fff;
        padding: rem(60px), rem(30px), rem(60px), rem(30px);
    }
    &__text {
        margin-top: rem(55px);
        margin-left: rem(35px);
        margin-right: rem(35px);
    }
}

.menu__item--active>.menu__item-block {
    display: block;
    @include tablets {
        width: 100%;
    }
}

.menu__item--active .menu__subtitle-link {
    color: $yellow;
}