.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  width: 100%; }

.reviews__image {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.reviews .image__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  position: relative; }

.reviews__text {
  display: block;
  position: absolute;
  width: 225px; }

.reviews__text-title {
  font-size: 14px;
  font-family: "gagalinregular";
  color: white;
  line-height: 2.008;
  -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  margin-bottom: 30px;
  margin-top: 30px; }

.reviews__text-par {
  font-size: 14px;
  font-family: "Ubuntu";
  color: white;
  line-height: 1.714;
  margin-bottom: 20px; }

.reviews__button {
  font-size: 13px;
  font-family: "Ubuntu";
  color: white;
  text-transform: uppercase;
  line-height: 2.308;
  background-color: #2f3234;
  padding: 12px 15px; }
