.slider {
    width: 100%;
    position: relative;
    background-image: -moz-linear-gradient( 90deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
    &__item {
        @include tablets {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__container {
        align-items: center;
        position: relative;
        justify-content: center;
        display: flex;
    }
    &__left {
        display: flex;
        position: relative;
        @include tablets {
            flex-direction: column;
            width: 70%;
        }
        @include phones {
            width: 90%;
        }

    }
    &__right {
        @include tablets {
            width: 80%;
        }
        @include phones {
            width: 100%;
        }

    }
    &__title {
        color: #fff;
        line-height: 1;
        margin-bottom: rem(50px);
    }
    &__buy-num {
        display: inline-flex;
        font-size: rem(71.707px);
        font-family: "gagalinregular";
        color: rgb(227, 80, 40);
        line-height: 1;
        -moz-transform: matrix( 0.99852682873382, 0, 0, 1.00291898435399, 0, 0);
        -webkit-transform: matrix( 0.99852682873382, 0, 0, 1.00291898435399, 0, 0);
        -ms-transform: matrix( 0.99852682873382, 0, 0, 1.00291898435399, 0, 0);
        margin-right: rem(10px);
    }
    &__composition {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        @include tablets {
            flex-direction: row;
        }
    }
    &__composition-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f08c33;
        border-radius: rem(3px);
        width: rem(80px);
        height: rem(80px);
        &:hover+ {
            .slider__popup {
                opacity: 1;
                transition: 1s;
            }
        }
    }
    &__composition-icon {
        width: rem(40px);
        height: rem(40px);
    }
    &__composition-text {
        font-size: rem(14px);
        font-family: "gagalinregular";
        color: rgb(255, 255, 255);
        line-height: 2.008;
        -moz-transform: matrix( 0.99883262359814, 0, 0, 1.00409157252179, 0, 0);
        -webkit-transform: matrix( 0.99883262359814, 0, 0, 1.00409157252179, 0, 0);
        -ms-transform: matrix( 0.99883262359814, 0, 0, 1.00409157252179, 0, 0);
    }
    &__composition-extra {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: rem(60px);
        height: rem(80px);
    }
    &__extra-icon {
        width: rem(60px);
        height: rem(60px);
        fill: rgba(255, 255, 255, 0.502);
    }
    &__extra-text {
        font-size: rem(14px);
        font-family: "gagalinregular";
        color: rgba(255, 255, 255, 0.502);
        -moz-transform: matrix( 0.99883262359814, 0, 0, 1.00409157252179, 0, 0);
        -webkit-transform: matrix( 0.99883262359814, 0, 0, 1.00409157252179, 0, 0);
        -ms-transform: matrix( 0.99883262359814, 0, 0, 1.00409157252179, 0, 0);
    }
    &__desc {
        font-size: rem(14px);
        font-family: "Ubuntu";
        color: rgb(255, 255, 255);
        line-height: 1.714;
        -moz-transform: matrix( 0.99969384774076, 0, 0, 0.99883219001146, 0, 0);
        -webkit-transform: matrix( 0.99969384774076, 0, 0, 0.99883219001146, 0, 0);
        -ms-transform: matrix( 0.99969384774076, 0, 0, 0.99883219001146, 0, 0);
        margin-bottom: rem(40px);
    }
    &__image {
        display: flex;
        align-items: center;
        width: rem(450px);
        @include phones {
            width: rem(340px);
        }
    }
    &__image-pic {
        max-width: 100%;
        max-height: 100%;
    }
    &__button {
        display: inline-flex;
    }
    &__buy-text {
        display: inline-flex;
        font-size: rem(35px);
        margin-right: rem(20px);
        line-height: 1;
        font-family: "gagalinregular";
        color: rgb(227, 80, 40);
        line-height: 1;
        -moz-transform: matrix( 0.99852682873382, 0, 0, 1.00291898435399, 0, 0);
        -webkit-transform: matrix( 0.99852682873382, 0, 0, 1.00291898435399, 0, 0);
        -ms-transform: matrix( 0.99852682873382, 0, 0, 1.00291898435399, 0, 0);
    }
    &__popup {
        background-color: rgba(255, 255, 255, .9);
        position: absolute;
        border-radius: rem(3px);
        left: rem(80px);
        top: 0;
        opacity: 0;
    }
    &__popup-content {
        margin: rem(15px);
    }
    &__popup-item {
        display: flex;
        align-items: center;
    }
    &__popup-product {
        font-size: rem(14px);
        font-family: "Ubuntu";
        color: rgb(47, 50, 52);
        line-height: 1;
        padding-right: rem(65px);
    }
    &__popup-weight {
        font-size: rem(14px);
        font-family: "Ubuntu";
        color: rgb(47, 50, 52);
        line-height: 1;
        text-align: right;
    }
    &__popup-line {
        height: rem(55px);
    }
    &__popup-img {
        width: rem(50px);
        height: rem(40px);
    }
    &__popup-icon {
        padding-right: rem(20px);
    }
    &__arrow {
        top: 50%;
        position: absolute;
    }
    &__arrow-img {
        width: rem(30px);
        height: rem(15px);
    }
    &__arrow-left {
        left: rem(-45px);
        transform: rotate(90deg);
        @include tablets {
            left: rem(-5px);
        }
    }
    &__arrow-right {
        right: rem(-45px);
        transform: rotate(-90deg);
        @include tablets {
            right: rem(-5px);
        }
    }
    &__part {
        display: flex;
        flex-direction: row;
        @include tablets {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 88%;
            text-align: center;
            display: inline-flex;
        }
    }
   
}